<div class="container">
  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <div class="form">
        <mat-card-header class="header">
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <mat-form-field>
          <input matInput placeholder="Username" type="text" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password" type="password" />
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button color="primary">Login</button>
        </mat-card-actions>

        <mat-card-footer>
          <a routerLink="/register"> Register</a>
        </mat-card-footer>
      </div>
    </mat-card-content>
  </mat-card>
</div>
